# Python virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp